* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-direction: column;
}

.padding-interno {
    padding: 0 50px;
}

/* Inicio header */
.header {
    background: url(../images/fondo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header .menu {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    height: 60px;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.logo a {
    color: #fff;
    font-size: 30px;
}

.logo a:hover {
    color: #343434;
}

.nav {
    flex-grow: 5;
    display: flex;
    justify-content: center;
}

.nav a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #343434;
}

.social {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.social a {
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}

.social a:hover {
    color: #343434;
}

.texto-principal {
    height: 580px;
    display: flex;
    align-items: center;
}

h1 {
    font-family: serif;
    font-size: 21px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}

/* Fin header */

/* Inicio Section */
.section {
    background: #f7f7f7;
    display: flex;
}

.articulos {
    background: #f7f7f7;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    flex-grow: 1;
    flex-basis: 45%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
    background: #ececec;
    max-width: 400px;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}

.article a:hover {
    background: #546cc3;
}

h3 {
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    margin-top: -80px;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 0 10px 10px;
    color: #fff;
}

p {
    margin-top: 10px;
}

.navegacion {
    background: #000;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 10px 10px 0 0;
}

.navegacion a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

/* Fin Section */

/* Inicio Footer */
.footer {
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pie {
    text-align: center;
}

.pie a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

/* Fin footer */

/* Inicio de media querys */
@media all and (max-width: 948px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}
